/* =Global styles/layout
-------------------------------------------------------------- */
/* Messages */
.woocommerce .woocommerce-message, .woocommerce .woocommerce-error, .woocommerce .woocommerce-info { padding: 0 1.5em 1.5em; margin: 0 0 1.5em; position: relative; overflow: hidden; list-style: none; background: #f2f2f2; }
.woocommerce .woocommerce-message:before, .woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before { width: 100%; height: 10px; margin: 0 -1.5em 1em -1.5em; padding: 0 1.5em; display: block; content: ""; }
.woocommerce .woocommerce-message a.button, .woocommerce .woocommerce-error a.button, .woocommerce .woocommerce-info a.button { margin-bottom: 0; float: right; }
.woocommerce .woocommerce-message > li, .woocommerce .woocommerce-error > li, .woocommerce .woocommerce-info > li { padding-left: 0; margin-left: 0; }
.woocommerce .woocommerce-message:before { background: #35bc98; }
.woocommerce .woocommerce-info:before { background: #3e96e1; }
.woocommerce .woocommerce-error:before { background: #e74c39; }

/* Store notice ( site-wide ) */
.demo_store { width: 100%; margin: 0; padding: .375em 0; position: fixed; top: 0; left: 0; z-index: 99998; text-align: center; background: #ff0000; color: #fff; }

.admin-bar .demo_store { top: 28px; }

.woocommerce {     /* =Product Page
	-------------------------------------------------------------- */ /* Product loops */     /* =Buttons
	-------------------------------------------------------------- */     /* =Quantity inputs
	-------------------------------------------------------------- */     /* =Reviews/comments
	-------------------------------------------------------------- */ /* Star rating */     /* =Tables
	-------------------------------------------------------------- */     /* =Cart
	-------------------------------------------------------------- */     /* =Cart Sidebar
	-------------------------------------------------------------- */     /* =Cart Page
	-------------------------------------------------------------- */     /* =Forms
	-------------------------------------------------------------- */     /* =Checkout
	-------------------------------------------------------------- */ /* Payment box */     /* =Order Page
	-------------------------------------------------------------- */     /* =Account Page
	-------------------------------------------------------------- */     /* =Layered Nav Widget
	-------------------------------------------------------------- */     /* =Price Filter Widget
	-------------------------------------------------------------- */ }
.woocommerce .col2-set:after { display: table; clear: both; content: ""; }
.woocommerce .col2-set > .col-1 { width: 48.5537%; float: left; }
.woocommerce .col2-set > .col-2 { width: 48.5537%; margin-left: 2.89256%; float: left; }
.woocommerce .price del { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.woocommerce .price ins { background: transparent; }
.woocommerce article.product { /* Clearfix */ }
.woocommerce article.product:after { display: table; clear: both; content: ""; }
.woocommerce article.product p.price { display: block; }
.woocommerce article.product .product_meta { margin: 0 0 1.5em 0; }
.woocommerce article.product .product_meta .sku_wrapper { display: block; }
.woocommerce article.product .product_meta .posted_in { display: block; }
.woocommerce article.product .images { width: 48.5537%; margin-bottom: 3em; float: left; }
.woocommerce article.product .images .zoom { margin-bottom: 4px; display: block; overflow: hidden; }
.woocommerce article.product .images .zoom > .attachment-shop_single, .woocommerce article.product .images .zoom > .attachment-shop_thumbnail { display: block; }
.woocommerce article.product .images .thumbnails:after { display: table; clear: both; content: ""; }
.woocommerce article.product .images .thumbnails .zoom { margin-right: 4px; float: left; }
.woocommerce article.product .summary { width: 48.5537%; margin: 0 0 1.5em; float: right; }
.woocommerce article.product .summary p.price { font-size: 1.5em; }
.woocommerce article.product .woocommerce-tabs { margin: 0 0 4.5em; clear: both; }
.woocommerce span.onsale { width: 32px; height: 32px; display: block; position: absolute; z-index: 3; pointer-events: none; overflow: hidden; text-indent: 100%; white-space: nowrap; }
.woocommerce span.onsale:before, .woocommerce span.onsale:after { width: 100%; height: 100%; display: block; position: absolute; left: 0; top: 0; text-indent: 0; text-align: center; }
.woocommerce span.onsale:before { color: red; font: 32px/32px FontAwesome; content: "\f0a3"; }
.woocommerce span.onsale:after { z-index: 5; color: white; font-size: 14px; line-height: 32px; content: "%"; }
.woocommerce .g1-brief span.onsale { margin: 10px 0 0 10px; }
.woocommerce .g1-complete span.onsale { margin: 20px 0 0 -16px; }
.woocommerce form.cart { margin: 0 0 1.5em; padding: 1.5em 0; border-width: 1px 0; }
.woocommerce form.cart:after { display: table; clear: both; content: ""; }
.woocommerce form.cart .variations { margin: 0; }
.woocommerce form.cart .variations select { margin-right: 8px; margin-bottom: 0.375em; float: left; }
.woocommerce form.cart .variations td { vertical-align: top; }
.woocommerce form.cart .variations td.label { padding-top: 8px; padding-right: 1em; }
.woocommerce form.cart .variations .reset_variations { margin-top: 8px; display: inline-block; }
.woocommerce form.cart .quantity { margin-right: 8px; float: left; }
.woocommerce form.cart .button { vertical-align: middle; float: left; }
.woocommerce form.cart .variations_button { margin-top: 1.5em; }
.woocommerce form.cart .single_add_to_cart_button { margin-bottom: 0; }
.woocommerce form.cart .group_table td { padding-top: 5px; padding-bottom: 5px; }
.woocommerce form.cart .group_table tr:first-child td { padding-top: 0; }
.woocommerce form.cart .group_table td.label { padding-right: 1em; padding-left: 1em; vertical-align: middle; }
.woocommerce form.cart .group_table td.price { padding-right: 1em; padding-left: 1em; vertical-align: middle; }
.woocommerce .g1-collection__item { position: relative; }
.woocommerce .g1-collection__item > article { margin-right: 20px; }
.woocommerce .g1-collection__item > article > .entry-featured-media { margin-right: -20px; }
.woocommerce .g1-collection__item .star-rating { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.woocommerce .g1-collection__item h3 { margin-bottom: 0; }
.woocommerce .g1-collection__item .price { margin-top: 0; margin-bottom: 21px; margin-bottom: 1.5rem; display: block; }
.woocommerce .g1-collection__item .added_to_cart { margin-top: -0.75em; display: block; }
.woocommerce .upsells, .woocommerce .related { margin: 0 0 3em; padding-top: 1.5em; position: relative; border-width: 1px 0 0; }
.woocommerce .upsells:before, .woocommerce .related:before { width: 60px; height: 0; display: block; position: absolute; top: -1px; left: 0; border-style: solid; border-width: 1px 0 0; border-color: blue; content: ""; }
.woocommerce .woocommerce-result-count { float: left; margin: 8px 8px 1.5em 0; }
.woocommerce .woocommerce-ordering { margin: 0 0 1.5em; float: right; }
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button { margin-bottom: 14px; margin-bottom: 1.5rem; padding: 6px 19px; display: inline-block; cursor: pointer; text-decoration: none; border-width: 1px; }
.woocommerce .add_to_cart_button:before { margin-right: 7px; font-size: 14px; font-family: FontAwesome; content: "\f07a"; }
.woocommerce .quantity { padding: 0 24px; width: 50px; position: relative; overflow: hidden; }
.woocommerce .quantity .minus, .woocommerce .quantity .plus { width: 24px; height: 100%; margin: 0; padding: 0; position: absolute; top: 0; border-width: 0; cursor: pointer; background: #e6e6e6; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.woocommerce .quantity .minus { left: 0; }
.woocommerce .quantity .plus { right: 0; }
.woocommerce .quantity .qty { width: 50px; text-align: center; border-left-width: 0; border-right-width: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.woocommerce .quantity .qty::-webkit-inner-spin-button, .woocommerce .quantity .qty::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
.woocommerce #reviews .comment { padding: 1.5em 0 0; border-width: 1px 0 0; }
.woocommerce #reviews .comment_container { padding-left: 80px; }
.woocommerce #reviews .comment_container .star-rating { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.woocommerce #reviews .add_review { padding: 1.5em 0 0; border-width: 1px 0 0; }
.woocommerce #review_form .comment-form-author label, .woocommerce #review_form .comment-form-email label { display: inline-block; }
.woocommerce #review_form .comment-form-author input, .woocommerce #review_form .comment-form-email input { display: block; }
.woocommerce .star-rating { width: 74px; height: 21px; overflow: hidden; position: relative; white-space: nowrap; text-indent: 100%; letter-spacing: 2px; }
.woocommerce .star-rating:before { display: block; position: absolute; left: 0; top: 0; text-indent: 0; font: 14px/21px FontAwesome; content: "\f006\f006\f006\f006\f006"; }
.woocommerce .star-rating > span { display: block; overflow: hidden; position: absolute; top: 0; left: 0; white-space: nowrap; text-indent: 100%; }
.woocommerce .star-rating > span:before { display: block; position: absolute; left: 0; top: 0; text-indent: 0; font: 14px/21px FontAwesome; content: "\f005\f005\f005\f005\f005"; }
.woocommerce .shop_attributes { width: 100%; }
.woocommerce .shop_attributes th { width: 150px; padding: 8px; vertical-align: top; text-align: left; border-width: 1px 0 0; }
.woocommerce .shop_attributes td { padding: 8px; border-width: 1px 0 0; }
.woocommerce .shop_attributes td > p { margin: 0; }
.woocommerce .shop_attributes .alt th, .woocommerce .shop_attributes .alt td { background-color: #f2f2f2; }
.woocommerce .shop_table { width: 100%; padding: 4px; position: relative; z-index: 0; border-collapse: separate; border-spacing: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.woocommerce .shop_table:before { display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: -1; content: ""; }
.woocommerce .shop_table th, .woocommerce .shop_table td { padding: 8px 16px; }
.woocommerce .shop_table thead { position: relative; z-index: 1; }
.woocommerce .shop_table thead th { padding-top: 1.25em; padding-bottom: 1.25em; text-align: left; }
.woocommerce .shop_table thead th { border-width: 1px 1px 1px 0; }
.woocommerce .shop_table thead th:first-child { border-width: 1px 1px 1px 1px; }
.woocommerce .shop_table tfoot, .woocommerce .shop_table tbody { position: relative; z-index: 1; }
.woocommerce .shop_table tfoot td, .woocommerce .shop_table tfoot th, .woocommerce .shop_table tbody td, .woocommerce .shop_table tbody th { border-width: 0 1px 1px 0; }
.woocommerce .shop_table tfoot td:first-child, .woocommerce .shop_table tfoot th:first-child, .woocommerce .shop_table tbody td:first-child, .woocommerce .shop_table tbody th:first-child { border-width: 0 1px 1px 1px; }
.woocommerce .shop_table tfoot + tbody tr:last-of-type td:first-child, .woocommerce .shop_table tfoot + tbody tr:last-of-type th:first-child, .woocommerce .shop_table tfoot + tbody tr:last-of-type td:last-child, .woocommerce .shop_table tfoot + tbody tr:last-of-type th:last-child { -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; -ms-border-radius: 0 !important; -o-border-radius: 0 !important; border-radius: 0 !important; }
.woocommerce table.cart td.actions, .woocommerce table.cart td.actions { text-align: right; }
.woocommerce table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon { float: left; }
.woocommerce table.cart td.actions .coupon label, .woocommerce table.cart td.actions .coupon label { display: none; }
.woocommerce table.cart td.actions .coupon .input-text, .woocommerce table.cart td.actions .coupon .input-text { width: 100px; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.woocommerce input#coupon_code { margin-right: 8px; padding: 5px 6px; }
.woocommerce .cart_table_item .product-remove { width: 32px; }
.woocommerce .cart_table_item .remove { width: 30px; height: 30px; display: block; position: relative; text-indent: 100%; white-space: nowrap; overflow: hidden; border-width: 1px; }
.woocommerce .cart_table_item .remove:before { width: 100%; height: 100%; display: block; position: absolute; left: 0; top: 0; text-indent: 0; text-align: center; font: 14px/32px FontAwesome; content: "\f00d"; }
.woocommerce td.product-name dl.variation { margin: .75em 0; }
.woocommerce td.product-name dl.variation dt, .woocommerce td.product-name dl.variation dd { margin-bottom: 0; }
.woocommerce .product_list_widget { list-style: none outside; padding: 0; margin: 0; }
.woocommerce .product_list_widget > li { margin: 0; padding-top: 8px; padding-bottom: 8px; border-top-width: 1px; list-style: none; /* clearfix */ }
.woocommerce .product_list_widget > li:after { display: table; clear: both; content: ""; }
.woocommerce .product_list_widget > li a { display: block; }
.woocommerce .product_list_widget > li img { float: right; margin-left: 4px; width: 32px; height: auto; }
.woocommerce .product_list_widget > li dl { margin: 0; font-size: 0.8751em; padding-left: 1em; border-left: 2px solid rgba(0, 0, 0, 0.1); }
.woocommerce .product_list_widget > li dl dt { float: left; clear: left; margin-right: .25em; }
.woocommerce .product_list_widget > li dl dd { margin-bottom: .5em; }
.woocommerce .product_list_widget > li .star-rating { float: none; }
.woocommerce .product_list_widget > li:first-child { padding-top: 0; border-top-width: 0; }
.woocommerce .product_list_widget .star-rating { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.woocommerce .product_list_widget .quantity { padding-left: 0; padding-right: 0; }
.woocommerce .product_list_widget ins { background: none; }
.woocommerce .widget_shopping_cart .total { padding: 0.75em 0 0; border-width: 4px 0 0; }
.woocommerce .widget_shopping_cart .buttons { /* Clearfix */ }
.woocommerce .widget_shopping_cart .buttons:after { display: table; clear: both; content: ""; }
.woocommerce .cart-collaterals { width: 100%; /* clearfix */ }
.woocommerce .cart-collaterals:after { display: table; clear: both; content: ""; }
.woocommerce .cart-collaterals .cross-sells { width: 45%; float: left; }
.woocommerce .cart-collaterals .cross-sells ul.products { float: none; }
.woocommerce .cart-collaterals .cross-sells ul.products li { width: 48%; }
.woocommerce .cart-collaterals .cart_totals { width: 48.5537%; float: right; text-align: right; }
.woocommerce .cart-collaterals .cart_totals p { margin: 0; }
.woocommerce .cart-collaterals .cart_totals p small { font-size: 0.83em; }
.woocommerce .cart-collaterals .cart_totals table { width: 100%; padding: 10px 0; border-collapse: separate; }
.woocommerce .cart-collaterals .cart_totals table th, .woocommerce .cart-collaterals .cart_totals table td { padding: 8px 0; border-width: 1px 0 0; }
.woocommerce .cart-collaterals .cart_totals table small { display: block; }
.woocommerce .cart-collaterals .cart_totals table select { width: 100%; }
.woocommerce .cart-collaterals .cart_totals tr td, .woocommerce .cart-collaterals .cart_totals tr th { padding: 6px 6px; }
.woocommerce .cart-collaterals .cart_totals a.button.alt { width: 193px; display: block; font-size: 0.92em; }
.woocommerce .cart-collaterals .shipping_calculator { width: 48.5537%; margin: 20px 0 0 0; clear: right; float: right; }
.woocommerce .cart-collaterals .shipping_calculator:after { display: table; clear: both; content: ""; }
.woocommerce .cart-collaterals .shipping_calculator > h2 { text-align: right; }
.woocommerce .cart-collaterals .shipping_calculator .button { width: 100%; float: none; display: block; }
.woocommerce form label.hidden { visibility: hidden; }
.woocommerce form .input-checkbox { display: inline; margin: -2px 8px 0 0; vertical-align: middle; }
.woocommerce form label.checkbox { display: inline; }
.woocommerce form .input-text { width: 100%; }
.woocommerce form .form-row { margin-bottom: 1.5em; }
.woocommerce form .form-row-first, .woocommerce form .form-row-last { float: left; width: 48.5537%; overflow: visible; }
.woocommerce form .form-row-last { float: right; }
.woocommerce form .form-row-wide { clear: both; }
.woocommerce form.login .lost_password { display: block; }
.woocommerce ul#shipping_method { list-style: none outside; margin: 0; padding: 0; }
.woocommerce ul#shipping_method li { margin: 0; padding: .25em 0 .25em 22px; text-indent: -22px; list-style: none outside; }
.woocommerce ul#shipping_method .amount { font-weight: bold; }
.woocommerce .checkout #shiptobilling { float: right; }
.woocommerce #payment { padding: 1.5em 1.5em 0; }
.woocommerce #payment .payment_methods { margin-left: 0; list-style: none; }
.woocommerce #payment .payment_methods > li { padding: 10px 0; border-width: 0 0 1px; }
.woocommerce #payment input[type=radio] { width: 40px; text-align: left; cursor: pointer; }
.woocommerce #payment label { margin: 0; display: inline; font-weight: normal; cursor: pointer; }
.woocommerce #payment label > img { vertical-align: middle; }
.woocommerce #payment input[type=radio]:checked + label { font-weight: bold; }
.woocommerce #payment .payment_box { margin-top: 0.75em; padding: 1.5em 40px 1px; background: #fff; }
.woocommerce table.my_account_orders { margin-bottom: 3em; }
.woocommerce addresses .title:after { display: table; clear: both; content: ""; }
.woocommerce addresses .title h3 { float: left; }
.woocommerce addresses .title .edit { float: right; }
.woocommerce .widget_layered_nav ul { margin: 0; list-style: none; }
.woocommerce .widget_layered_nav ul li { padding-bottom: 5px; overflow: hidden; }
.woocommerce .widget_layered_nav ul li a { float: left; }
.woocommerce .widget_layered_nav ul li + li { padding-top: 5px; border-width: 1px 0 0; }
.woocommerce .widget_layered_nav ul li.chosen a { padding: 0 6px 0 18px; }
.woocommerce .widget_layered_nav ul .count { margin-left: 8px; float: right; font-size: 1em; }
.woocommerce .widget_price_filter .price_slider { margin-bottom: 1.5em; }
.woocommerce .widget_price_filter .price_slider_amount { text-align: right; line-height: 2.4em; font-size: 0.8751em; }
.woocommerce .widget_price_filter .price_slider_amount .button { font-size: 1.15em; float: left; }
.woocommerce .widget_price_filter .ui-slider { margin-left: 2px; margin-right: 2px; position: relative; text-align: left; }
.woocommerce .widget_price_filter .ui-slider-handle { width: 16px; height: 16px; margin-left: -2px; border-width: 2px; outline: none; position: absolute; top: -5px; z-index: 2; cursor: pointer; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; }
.woocommerce .widget_price_filter .ui-slider-handle + .ui-slider-handle { margin-left: -18px; }
.woocommerce .widget_price_filter .ui-slider .ui-slider-range { position: absolute; z-index: 1; display: block; }
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content { border-width: 1px; }
.woocommerce .widget_price_filter .ui-slider-horizontal { height: 10px; }
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range { height: 100%; top: 0; }
.woocommerce .widget_product_search #s { margin-bottom: 0.375em; }

/* =Mini Cart Box
-------------------------------------------------------------- */
.g1-cartbox { position: relative; float: right; }

.g1-cartbox__box { width: 320px; padding: 10px 0; position: absolute; right: -20px; display: none; }
.g1-cartbox__box > .g1-inner { padding: 1.5em 20px; border-width: 0 1px; }
.g1-cartbox__box > .g1-inner > .g1-cartbox__empty { display: none; }
.g1-cartbox__box > .g1-inner .total { padding-top: 0.75em; border-width: 4px 0 0; }
.g1-cartbox__box > .g1-inner .buttons { margin-bottom: 0; }
.g1-cartbox__box > .g1-inner .buttons .button { margin-bottom: 4px; }

.g1-cartbox__title { display: none; }

.g1-cartbox__switch { position: relative; padding-left: 10px; padding-right: 10px; display: block; height: 14px; /* arrow */ /* icons */ }
.g1-cartbox__switch .g1-cartbox__arrow { width: 0; height: 0; margin-top: -12px; display: none; position: absolute; left: 10px; top: 100%; z-index: 1; content: ""; border-style: solid; border-width: 6px; border-top-color: transparent !important; border-right-color: transparent !important; border-left-color: transparent !important; border-bottom-color: #dddddd; }
.g1-cartbox__switch strong { padding-left: 20px; height: 100%; display: block; position: relative; font-weight: normal; /* cart icon */ /* x icon */ }
.g1-cartbox__switch strong:before, .g1-cartbox__switch strong:after { width: 100%; height: 14px; margin-top: -7px; position: absolute; left: 0; top: 50%; text-align: left; font: 14px/14px FontAwesome; }
.g1-cartbox__switch strong:before { display: block; content: "\f07a"; }
.g1-cartbox__switch strong:after { display: none; content: "\f00d"; }

.g1-cartbox--on .g1-cartbox__switch strong:before { display: none; }
.g1-cartbox--on .g1-cartbox__switch strong:after { display: block; }
.g1-cartbox--on .g1-cartbox__arrow, .g1-cartbox--on .g1-cartbox__box { display: block; }

/* Shadows */
.g1-cartbox .g1-cartbox__box { -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); }

/* CSS animations */
.cssanimations .g1-cartbox .g1-cartbox__switch { -webkit-backface-visibility: hidden; }
.cssanimations .g1-cartbox .g1-cartbox__switch strong:before { display: block; opacity: 1; -webkit-transition: opacity 0.175s ease-in-out; -webkit-transition-delay: 0.175s; -moz-transition: opacity 0.175s ease-in-out 0.175s; -o-transition: opacity 0.175s ease-in-out 0.175s; transition: opacity 0.175s ease-in-out 0.175s; }
.cssanimations .g1-cartbox .g1-cartbox__switch strong:after { display: block; opacity: 0; -webkit-transition: opacity 0.175s ease-in-out; -moz-transition: opacity 0.175s ease-in-out; -o-transition: opacity 0.175s ease-in-out; transition: opacity 0.175s ease-in-out; }
.cssanimations .g1-cartbox .g1-cartbox__arrow, .cssanimations .g1-cartbox .g1-cartbox__box { display: block; visibility: hidden; opacity: 0; -webkit-transform: translate(0px, 40px); -moz-transform: translate(0px, 40px); -ms-transform: translate(0px, 40px); -o-transform: translate(0px, 40px); transform: translate(0px, 40px); -webkit-transition: visibility 0s, opacity 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out; -webkit-transition-delay: 0.35s, 0s, 0s; -moz-transition: visibility 0s 0.35s, opacity 0.35s ease-in-out, -moz-transform 0.35s ease-in-out; -o-transition: visibility 0s 0.35s, opacity 0.35s ease-in-out, -o-transform 0.35s ease-in-out; transition: visibility 0s 0.35s, opacity 0.35s ease-in-out, transform 0.35s ease-in-out; }
.cssanimations .g1-cartbox--on .g1-cartbox__switch strong:before { opacity: 0; -webkit-transition: opacity 0.175s ease-in-out; -moz-transition: opacity 0.175s ease-in-out; -o-transition: opacity 0.175s ease-in-out; transition: opacity 0.175s ease-in-out; }
.cssanimations .g1-cartbox--on .g1-cartbox__switch strong:after { opacity: 1; -webkit-transition: opacity 0.175s 0.175s; -webkit-transition-delay: ease-in-out; -moz-transition: opacity 0.175s 0.175s ease-in-out; -o-transition: opacity 0.175s 0.175s ease-in-out; transition: opacity 0.175s 0.175s ease-in-out; }
.cssanimations .g1-cartbox--on .g1-cartbox__arrow, .cssanimations .g1-cartbox--on .g1-cartbox__box { display: block; visibility: visible; opacity: 1; -webkit-transform: translate(0px, 0px); -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -o-transform: translate(0px, 0px); transform: translate(0px, 0px); -webkit-transition: opacity 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out; -moz-transition: opacity 0.35s ease-in-out, -moz-transform 0.35s ease-in-out; -o-transition: opacity 0.35s ease-in-out, -o-transform 0.35s ease-in-out; transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out; }

/* CSS animations */
.cssanimations .woocommerce a.button, .cssanimations .woocommerce button.button, .cssanimations .woocommerce input.button { -webkit-transition: background-color 0.175s ease-in-out, border-color 0.175s ease-in-out, color 0.175s ease-in-out; -moz-transition: background-color 0.175s ease-in-out, border-color 0.175s ease-in-out, color 0.175s ease-in-out; -o-transition: background-color 0.175s ease-in-out, border-color 0.175s ease-in-out, color 0.175s ease-in-out; transition: background-color 0.175s ease-in-out, border-color 0.175s ease-in-out, color 0.175s ease-in-out; }

#g1-primary-nav .g1-cartbox { margin-left: 10px; }

@media only screen and (max-width: 767px) { .woocommerce .col2-set > .col-1, .woocommerce .col2-set > .col-2 { width: 100%; margin-left: 0; float: none; }
  .woocommerce article.product .images { max-width: 482px; width: 100%; float: none; }
  .woocommerce article.product .summary { width: 100%; float: none; }
  .woocommerce .cart .product-remove, .woocommerce .cart .product-thumbnail { display: none; } }
.stars a { margin-right: 0.75em; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.stars .active { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
