/*
 *
 * Don't forget to set custom_css to true in the defaults.php file!
 *
 */

@import url('options.css');

/* first, hide all sections - prevents flickering */
.redux-opts-group-tab-link-li { display: none; }

.redux-subsections .redux-opts-group-tab-link-li { display: block; }

/* show only main sections */
#general_section_group_li,
#style_section_group_li,
#pages_section_group_li,
#empty_post_archive_section_group_li,
#empty_g1work_archive_section_group_li,
#simple_slider_section_group_li,
#map_section_group_li,
#newsletter_section_group_li,
#twitter_section_group_li,
#sidebars_section_group_li,
#maintenance_mode_section_group_li,
#import_export_default_section_group_li,
#advanced_section_group_li { display: block; }

/* visible until sections loaded */
#redux-opts-main-loaded {}
#redux-opts-main-loaded span {}

#redux-opts-form-wrapper {
    -webkit-border-radius:3px;
       -moz-border-radius:3px;
        -ms-border-radius:3px;
         -o-border-radius:3px;
            border-radius:3px;

    -webkit-box-shadow:0 1px 0 #FFFFFF inset;
       -moz-box-shadow:0 1px 0 #FFFFFF inset;
        -ms-box-shadow:0 1px 0 #FFFFFF inset;
         -o-box-shadow:0 1px 0 #FFFFFF inset;
            box-shadow:0 1px 0 #FFFFFF inset;
}


/* Reduce the space inside menu items */
#redux-opts-sidebar #redux-opts-group-menu li a {
    padding-top:8px;
    padding-bottom:8px;
}
#redux-opts-sidebar #redux-opts-group-menu li a:hover {
    width:auto;
    margin-right:0;
}




/* Differentiate sections with subsections */
#redux-opts-sidebar #redux-opts-group-menu li.redux-section-with-subsections > a {
    position:relative;
}
#redux-opts-sidebar #redux-opts-group-menu li.redux-section-with-subsections > a:after {
    width:14px;
    height:14px;
    margin-top:-7px;
    display:block;
    position:absolute;
    right:9px;
    top:50%;

    font:14px/14px FontAwesome;
    content:"\f067";
    content:"\f107";
    color:#6d6d6d;
}




#redux-opts-form-wrapper select {
    min-width:100px;
}

#redux-opts-sidebar #redux-opts-group-menu li a {
    color:#21759B;
    outline:none;
}

#redux-opts-sidebar #redux-opts-group-menu li a:hover {
    background:#e6e6e6;
    color:#d54e21;
}

#redux-opts-sidebar #redux-opts-group-menu a i:before {
    font-size:14px;
}

#redux-opts-sidebar #redux-opts-group-menu > li.active,
#redux-opts-sidebar #redux-opts-group-menu > li.redux-expanded  {
    margin-right:-2px;
    padding-bottom:1px;
    padding-left:1px;
    padding-right:1px;
    background:#6d6d6d;
}

#redux-opts-sidebar #redux-opts-group-menu > li.active > a,
#redux-opts-sidebar #redux-opts-group-menu > li.redux-expanded > a {
    padding-top:16px;
    padding-bottom:16px;

    border-top-color:#6d6d6d;
    border-bottom-color:#6d6d6d;
}


#redux-opts-sidebar #redux-opts-group-menu > li.active > a,
#redux-opts-sidebar #redux-opts-group-menu > li.active > a:hover,
#redux-opts-sidebar #redux-opts-group-menu > li.redux-expanded > a,
#redux-opts-sidebar #redux-opts-group-menu > li.redux-expanded > a:hover {
    width:auto;
    margin-right:0;
    font-weight:bold;
    cursor:default;
    background:#6d6d6d;
}

#redux-opts-sidebar #redux-opts-group-menu > li.active > a i,
#redux-opts-sidebar #redux-opts-group-menu > li.active > a span,
#redux-opts-sidebar #redux-opts-group-menu > li.redux-expanded > a i,
#redux-opts-sidebar #redux-opts-group-menu > li.redux-expanded > a span {
    color:#ffffff;
}

#redux-opts-sidebar #redux-opts-group-menu li.redux-subsection a {
    background:#ffffff;
}
#redux-opts-sidebar #redux-opts-group-menu li.redux-subsection a:hover {
    width:auto;
    margin-right:0;
    background:#eaf2fa;
    color:#21759B;
}

#redux-opts-sidebar #redux-opts-group-menu li.redux-subsection a i {
    color:#797979;
}



#redux-opts-sidebar #redux-opts-group-menu li.redux-subsection.active a {
    margin-right:0;
    width:auto;
    font-weight:bold;

    border-top-color:#e6e6e6;
    background:#e6e6e6;
}

#redux-opts-sidebar #redux-opts-group-menu li.redux-subsection.active i,
#redux-opts-sidebar #redux-opts-group-menu li.redux-subsection.active span {
    color:#000000;
}

#redux-opts-sidebar #redux-opts-group-menu li.redux-subsection:last-child a {
    border-bottom-width:0;
}


.redux-opts-group-tab h3 {
    border-bottom:none;
}



.redux-opts-group-tab .form-table {
    table-layout:fixed;
}

/* Reduce the space inside rows  */
.redux-opts-group-tab .form-table tr th {
    width:200px;
    padding:10px 0 20px 0;
}
.redux-opts-group-tab .form-table tr td {
    width:auto;
    padding:10px 0 20px 10px;
}

.redux-opts-info-field h4 {
    font-size:1.4em;
}





/* Rounded corners */
.redux-radio-img {
    -webkit-border-radius:3px;
       -moz-border-radius:3px;
        -ms-border-radius:3px;
         -o-border-radius:3px;
            border-radius:3px;
}

/* Label on hover */
.redux-radio-img {
    position:relative;
}
.redux-radio-img span {
    min-width:110px;
    margin-bottom:6px;
    padding:5px 10px;
    display:none;
    position:absolute;
    bottom:100%;
    left:-1px;
    z-index:2;

    background-color:#333333;
    color:#ffffff;

    -webkit-border-radius:3px;
       -moz-border-radius:3px;
        -ms-border-radius:3px;
         -o-border-radius:3px;
            border-radius:3px;
}
.redux-radio-img span:after {
    width:0;
    height:0;
    display:block;
    position:absolute;
    left:12px;
    bottom:-12px;
    z-index:3;

    border-style:solid;
    border-width:6px;
    border-color:#333333 transparent transparent #333333;

    content:"";
}
.redux-radio-img:hover span {
    display:block;
}



/* More accent on hover state */
.redux-radio-img:hover {
    border-color:#e6e6e6;
}

/* More accent on active state */
.redux-radio-img-selected,
.redux-radio-img-selected:hover {
    border-color:#797979;
    background-color:#797979;
    color:#ffffff;
}



/* More like Flat UI */
.switch_wrap .switch {
    background-color:#d9d9d9;
    -webkit-box-shadow:none;
       -moz-box-shadow:none;
        -ms-box-shadow:none;
         -o-box-shadow:none;
            box-shadow:none;
}

.switch_wrap .switch:after {
    color:#666666;
    text-shadow:none;
}

.switch_wrap input[type="checkbox"]:checked + .switch {
    background-color: #21759b;
}

.switch_wrap .switch:before {
    color:#ffffff;
    text-shadow:none;
}

.switch_wrap .switch .bullet {
    -webkit-box-shadow: 0 1px 0 white inset;
       -moz-box-shadow: 0 1px 0 white inset;
        -ms-box-shadow: 0 1px 0 white inset;
         -o-box-shadow: 0 1px 0 white inset;
            box-shadow: 0 1px 0 white inset;
}

#redux-skin-selection { display: none; }



.g1-feed-row + .g1-feed-row {
    margin-top:12px;
}

.g1-feed-label {
    min-width:80px;
    display:inline-block;
}


